#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #fff;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-color:#fff;
}
p {
	font-family: Consolas;!important
}
.bgcolor {
	background: #ee9ca7;
    background: -webkit-linear-gradient(top left, #ee9ca7 0%, #ee9ca7 100%);
    background: linear-gradient(to bottom right, #ee9ca7 0%, #ee9ca7 100%);
    opacity: 0.9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 30s infinite;
  animation: square 30s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-900px) rotate(600deg);
            transform: translateY(-900px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-900px) rotate(600deg);
            transform: translateY(-900px) rotate(600deg);
  }
}
/***                                  内容区域                                 ***/
/**                                   第一部分                                  **/
/*盒子*/
/*移动端*/
@media screen and (max-aspect-ratio: 3/4){
	.ly-box01 {
		margin-bottom:0;
		width: 80%;
		height: 70%;
		border-radius: 6px;
		background-color:rgba(255,255,255,0.6);
		position: absolute;
		left: 10%;
		bottom: 15%;
		animation:box_to_point_mobile 18.5s 0s;
	}
	.ly-box01 * {
		animation: my 3.1s;
	}
}

@keyframes my {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/** 移动端动画 **/
@keyframes box_to_point_mobile{
	0% {
		margin-bottom:50%;
		width:50px;
		height:50px;
		border-radius: 25px;
		position: absolute;
		left: 48%;
		bottom: 50%;
		}
	10% {
		margin-bottom:0;
		width:50px;
		height:50px;
		border-radius: 25px;
		background-color:rgba(255,255,255,1);
		position: absolute;
		left: 48%;
		bottom: 50%;
	}
	/*打开小球*/
	14% {
		margin-bottom:0;
		width: 80%;
		height: 70%;
		border-radius: 6px;
		background-color:rgba(255,255,255,0.5);
		position: absolute;
		left: 10%;
		bottom: 15%;
	}
	100% {
		margin-bottom:0;
		width: 80%;
		height: 70%;
		border-radius: 6px;
		background-color:rgba(255,255,255,0.6);
		position: absolute;
		left: 10%;
		bottom: 15%;
	}
}
@-webkit-keyframes box_to_point_mobile{
	0% {
		margin-bottom:50%;
		width:50px;
		height:50px;
		border-radius: 25px;
		position: absolute;
		left: 48%;
		bottom: 50%;
		}
	10% {
		margin-bottom:0;
		width:50px;
		height:50px;
		border-radius: 25px;
		background-color:rgba(255,255,255,1);
		position: absolute;
		left: 48%;
		bottom: 50%;
	}
	/*打开小球*/
	14% {
		margin-bottom:0;
		width: 80%;
		height: 70%;
		border-radius: 6px;
		background-color:rgba(255,255,255,0.5);
		position: absolute;
		left: 10%;
		bottom: 15%;
	}
	100% {
		margin-bottom:0;
		width: 80%;
		height: 70%;
		border-radius: 6px;
		background-color:rgba(255,255,255,0.6);
		position: absolute;
		left: 10%;
		bottom: 15%;
	}
}
/*文本*/
@media screen and (max-aspect-ratio: 3/4) {
	.ly-txt01 {
		position:absolute;
		left:10%;
		top:5%;
	}
	
	.ly-txt02 {
		position:absolute;
		left:10%;
		top:50%;
	}

	.ly-txt01 p, .ly-txt02 p {
		font-size: 4vw !important;
	}
}

.ly-box01 p {
	font-family: Microsoft YaHei;
	font-size: 30px;
	text-align: left;
	position: relative;
	left: 5%;
	top: 5%;
	opacity: 1;
	animation-delay:3s;
	-webkit-animation-delay:3s;
}

.ly-stxt01 {	
	font-family: Consolas;
	font-weight: bold;
	animation:ly-stxt01_move 15s;
	-webkit-animation:ly-stxt01_move 15s;
}

.ly-stxt02 {
	animation:ly-stxt02_move 15s;
	-webkit-animation:ly-stxt02_move 15s;
}

.ly-stxt03 {
	animation:ly-stxt03_move 15s;
	-webkit-animation:ly-stxt03_move 15s;
}

.ly-stxt04 {
	animation:ly-stxt04_move 15s;
	-webkit-animation:ly-stxt04_move 15s;
}

.ly-stxt05 {
	animation:ly-stxt05_move 15s;
	-webkit-animation:ly-stxt05_move 15s;
}

.ly-stxt06 {
	animation:ly-stxt06_move 15s;
	-webkit-animation:ly-stxt06_move 15s;
}

.ly-stxt07 {
	animation:ly-stxt07_move 15s;
	-webkit-animation:ly-stxt07_move 15s;
}

.ly-stxt08 {
	animation:ly-stxt08_move 15s;
	-webkit-animation:ly-stxt08_move 15s;
}

.ly-stxt09 {
	text-align: right !important; 
	animation:ly-stxt09_move 15s;
	-webkit-animation:ly-stxt09_move 15s;
}

.ly-stxt10 {
	text-align: right !important; 
	animation:ly-stxt10_move 15s;
	-webkit-animation:ly-stxt10_move 15s;
}


@keyframes ly-stxt01_move{
	0% {opacity:0;}
	8%, 100% {opacity:1;}
}
@-webkit-keyframes ly-stxt01_move{
	0% {opacity:0;}
	8%, 100% {opacity:1;}
}


@keyframes ly-stxt02_move{
	0%, 8% {opacity:0;margin-top:-71px;}
	16%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt02_move{
	0%, 8% {opacity:0;margin-top:-71px;}
	16%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt03_move{
	0%, 16% {opacity:0;margin-top:-71px;}
	24%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt03_move{
	0%, 16% {opacity:0;margin-top:-71px;}
	24%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt04_move {
	0%, 24% {opacity:0;margin-top:-71px;}
	32%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt04_move {
	0%, 24% {opacity:0;margin-top:-71px;}
	32%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt05_move {
	0%, 32% {opacity:0;margin-top:-71px;}
	40%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt05_move {
	0%, 32% {opacity:0;margin-top:-71px;}
	40%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt06_move {
	0%, 40% {opacity:0;}
	48%, 100% {opacity:1;}
}
@-webkit-keyframes ly-stxt06_move {
	0%, 40% {opacity:0;}
	48%, 100% {opacity:1;}
}


@keyframes ly-stxt07_move {
	0%, 48% {opacity:0;margin-top:-71px;}
	56%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt07_move {
	0%, 48% {opacity:0;margin-top:-71px;}
	56%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt08_move {
	0%, 56% {opacity:0;margin-top:-71px;}
	64%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt08_move {
	0%, 56% {opacity:0;margin-top:-71px;}
	64%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt09_move {
	0%, 64% {opacity:0;margin-top:-71px;}
	72%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt09_move {
	0%, 64% {opacity:0;margin-top:-71px;}
	72%, 100% {opacity:1;margin-top:0;}
}


@keyframes ly-stxt10_move{
	0%, 72% {opacity:0;margin-top:-71px;}
	80%, 100% {opacity:1;margin-top:0;}
}
@-webkit-keyframes ly-stxt10_move{
	0%, 72% {opacity:0;margin-top:-71px;}
	80%, 100% {opacity:1;margin-top:0;}
}